
*{
    padding: 0px;
    margin: 0px;
    /* box-sizing: border-box; */
}

.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 100px 100px;
    border: 2px solid red;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 26px;
    border: 2px solid blue;
}

.add-button {
    display: flex;
    justify-content: center;
}

.add-button {
    display: flex;
}

.add-button button {
    width: 100px;
    height: auto;
    /* background-color: white; */
}

.heading .title {
    margin-left: 5vw;
}

.heading .log-in {
    margin-right: 5vw;
}

.card-holder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    border: 3px solid green;
}

.card-holder .book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    font-size: 20px;
    text-align: center;
    border: 2px solid yellow;
    border-radius: 10%;
    gap: 10px;
}

/*top, right, bottom, left*/
.card-holder button {
    padding: 10px 20px 10px 20px;
}

#add-book-form {
    display: flex;
    flex-direction: column;
}

.modal p {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}

#add-book-form {
    gap: 30px;
}

#add-book-form *{
    height: 35px;
    border-radius: 5px;
}

.modal {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.7);
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}

.content {
    position: absolute;
    background: lightcyan;
    width: 300px;
    height: 300px;
    padding: 1em 2em;
    border-radius: 10px;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.box-close {
    position: absolute;
    top: 0;
    right: 15px;
    color: #fe0606;
    text-decoration: none;
    font-size: 30px;
}