*{
    padding: 0px;
    margin: 0px;
    /* box-sizing: border-box; */
}

.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 100px 100px;
    border: 2px solid red;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 26px;
    border: 2px solid blue;
}

.add-button {
    display: flex;
    justify-content: center;
}

.add-button {
    display: flex;
}

.add-button button {
    width: 100px;
    height: auto;
    /* background-color: white; */
}

.title {
    margin-left: 5vw;
}

.log-in {
    margin-right: 5vw;
}

.card-holder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    border: 3px solid green;
}

.card-holder .book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 20px;
    text-align: center;
    border: 2px solid yellow;
    border-radius: 10%;
    gap: 10px;
    margin: 20px;
}

/*top, right, bottom, left*/
.card-holder button {
    padding: 10px 20px 10px 20px;
}